{% load i18n static %}
<header id="header">
    <nav id="navbar">
        <p class="logo">you were hired</p>
        <div class="menu flex gap-x-2">
            <div class="menu-item flex gap-x-1">
                <img class="menu-icon w-5" src="{% static 'css/images/icons/search.svg' %}" alt="Find Jobs">
                <span class="menu-text">{% translate 'Find Jobs' %}</span>
            </div>
            <div class="menu-item flex gap-x-1">
                <img class="menu-icon w-5" src="{% static 'css/images/icons/companies.svg' %}" alt="Find Jobs">
                <span class="menu-text">{% translate 'Companies' %}</span>
            </div>
            <div class="menu-item flex gap-x-1">
                <img class="menu-icon w-5" src="{% static 'css/images/icons/history.svg' %}" alt="Find Jobs">
                <span class="menu-text">{% translate 'History' %}</span>
            </div>
        </div>
        <div class="extra-menu"></div>
    </nav>
</header>