asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.2.3
pip==23.1.2
setuptools==67.8.0
sqlparse==0.4.4
typing-extensions==4.7.1
tzdata==2023.3
wheel==0.40.0
django-environ==0.10.0
django-tailwind==3.4.0

# Test
pytest==7.4.0
coverage==7.2.7

# Development
pylint
black