{% extends "base.html" %}
{% load static i18n widget_tweaks jobs_template_tags %}
{% block title %}
    {% translate 'jobs' %}
{% endblock %}
{% block content %}
    <div class="flex flex-row bg-base-200">
        <div class="max-xl:hidden w-3/12 p-3 m-5 rounded-xl h-full bg-base-100">
            {% include 'components/get_latest_jobs.html' %}
            {% include 'components/filters.html' with filters=filters %}
        </div>
        <div class="w-full xl:w-9/12">
            <div class="flex flex-col">
                <div class="mb-10 mt-5 mx-3">
                    {% include 'components/search.html' with filters=filters %}
                </div>
                <div title="{% translate 'Jobs' %}" class="flex flex-col mx-5 xl:mx-3">
                    <div class="flex flex-row justify-between items-center flex-wrap gap-4">
                        <div title="Result Count" class="flex fle-row">
                            <p class="">{% translate 'Showing:' %} <span
                                    class="font-bold">{{ filters.qs.count }} </span>{% translate 'Filtered Jobs' %}
                            </p>
                        </div>
                        <div title="Sort By" class="max-xl:hidden flex flex-row gap-3 items-center">
                            <p>{% translate 'Sort By:' %}</p>
                            <form method="get">
                                {% render_field filters.form.order_by class="select select-bordered w-full max-w-xs" onchange='this.form.submit();' %}
                            </form>
                        </div>
                    {% include 'components/bottom_navigation.html' with filters=filters %}
                    </div>
                    <div title="Results" class="flex flex-row gap-3 flex-wrap justify-center my-5">
                        {% for job in jobs %}
                            {% include 'components/job.html' with job=job %}
                        {% endfor %}
                    </div>
                    <div title="pages" class="join mb-2">
                        {% if jobs.has_previous %}
                            <a class="join-item btn btn-active"
                               href="?{% update_params page=1 %}">{% translate 'first' %}</a>
                            <a class="join-item btn btn-active"
                               href="?{% update_params page=jobs.previous_page_number %}">{% translate 'previous' %}</a>
                        {% endif %}
                        {% if jobs.has_next %}
                            <a class="join-item btn btn-active"
                               href="?{% update_params page=jobs.next_page_number %}">{% translate 'next' %}</a>
                            <a class="join-item btn btn-active"
                               href="?{% update_params page=jobs.paginator.num_pages %}">{% translate 'last' %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extra_javascript %}
    <script src="{% static 'js/jobs.js' %}"></script>
{% endblock %}