{% extends "base.html" %}

{% load i18n static %}
{% load account socialaccount %}

{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block extra_javascript %}
    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="bg-base-200 p-10">
        <div class="w-full flex flex-col max-w-sm p-6 m-auto mx-auto bg-base-100 rounded-lg shadow-md">
            <div title="logo" class="flex justify-center mx-auto">
                <a class="btn btn-ghost normal-case text-2xl font-['Tektur']">You Where Hired</a>
            </div>
            <form class="flex flex-col gap-3 mt-5">
                <div class="flex flex-col gap-2">
                    <label for="email" class="block text-sm text-base-content capitalize">{% translate 'Email' %}</label>
                    <input type="email" placeholder="Enter Your Email" class="w-full input input-bordered"/>
                </div>
                <div class="">
                    <button id="signin-button" class="w-full btn btn-info btn-wide transition-all capitalize">
                        {% translate 'Reset Password' %}
                    </button>
                </div>
            </form>



        </div>
    </div>
{% endblock %}