{% extends "base.html" %}

{% load i18n static %}
{% load account socialaccount %}

{% block title %}{% translate "Sign Up" %}{% endblock %}

{% block extra_javascript %}
    <script src="{% static 'js/codex/jquery.codex.js' %}"></script>
    <script src="{% static 'js/signup.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="bg-base-200 p-10">
        <div class="w-full flex flex-col max-w-sm p-6 m-auto mx-auto bg-base-100 rounded-lg shadow-md">
            <div title="logo" class="flex">
                <a id="signup-logo" class=" font-semibold  normal-case text-2xl font-['Ubuntu']">Here's forbidden despair because no one is going to be rejected, let's go ... 😎</a>
            </div>

            <form class="mt-6 flex flex-col gap-3">
                <div class="flex flex-col gap-2">
                    <label for="username" class="block text-sm text-base-content">Username</label>
                    <input type="text" placeholder="username" class="w-full input input-bordered"/>
                </div>
                <div class="flex flex-col gap-2">
                    <label for="username" class="block text-sm text-base-content">Email</label>
                    <input type="text" placeholder="Email" class="w-full input input-bordered"/>
                </div>
                <div class="">
                    <div class="flex items-center justify-between">
                        <label for="password" class="block text-sm text-base-content mb-2">password</label>
                        <a href="{% url 'account_reset_password' %}" class="link link-hover text-sm mb-2">Forget
                            Password?</a>
                    </div>
                    <div class="relative">
                        <input onkeyup="inputChange(this.value)" tabindex="-1" id="signup-password-input" type="password"
                               placeholder="password" class="w-full input input-bordered "/>
                        <svg id="show-password-icon" onclick="showHidePassword('signup-password-input')"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="bottom-3 right-3 absolute w-6 h-6 cursor-pointer">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"></path>
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                        </svg>

                        <svg id="hide-password-icon" onclick="showHidePassword('signup-password-input')"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="hidden absolute bottom-3 right-3 w-6 h-6 cursor-pointer">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88"></path>
                        </svg>


                    </div>
                </div>
                <div class="mt-6 relative">
                    <button id="signin-button" class="btn btn-info transition-all capitalize absolute left-0">
                        Sign Up
                    </button>
                </div>
            </form>

            <div class="flex items-center justify-between  mt-20">
                <span class="w-1/5 border-b lg:w-1/5"></span>

                <a href="#" class="text-xs text-center text-base-content uppercase ">
                    or Continue with Social Media
                </a>

                <span class="w-1/5 border-b lg:w-1/5"></span>
            </div>

            <div class="flex items-center justify-between gap-2 mt-6 w-full">
                <button type="button"
                        class="btn btn-ghost">
                    <svg class="w-4 h-4 fill-base-content fill-current" viewBox="0 0 24 24">
                        <path d="M12.24 10.285V14.4h6.806c-.275 1.765-2.056 5.174-6.806 5.174-4.095 0-7.439-3.389-7.439-7.574s3.345-7.574 7.439-7.574c2.33 0 3.891.989 4.785 1.849l3.254-3.138C18.189 1.186 15.479 0 12.24 0c-6.635 0-12 5.365-12 12s5.365 12 12 12c6.926 0 11.52-4.869 11.52-11.726 0-.788-.085-1.39-.189-1.989H12.24z">
                        </path>
                    </svg>
                </button>
                <button
                        class="btn btn-ghost">
                    <svg xmlns="http://www.w3.org/2000/svg" class="fill-base-content fill-current" width="24"
                         height="24" viewBox="0 0 24 24">
                        <path d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                    </svg>
                </button>
                <button
                        class="btn btn-ghost">
                    <svg class="w-5 h-5 fill-base-content fill-current" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M23.954 4.569c-.885.389-1.83.654-2.825.775 1.014-.611 1.794-1.574 2.163-2.723-.951.555-2.005.959-3.127 1.184-.896-.959-2.173-1.559-3.591-1.559-2.717 0-4.92 2.203-4.92 4.917 0 .39.045.765.127 1.124C7.691 8.094 4.066 6.13 1.64 3.161c-.427.722-.666 1.561-.666 2.475 0 1.71.87 3.213 2.188 4.096-.807-.026-1.566-.248-2.228-.616v.061c0 2.385 1.693 4.374 3.946 4.827-.413.111-.849.171-1.296.171-.314 0-.615-.03-.916-.086.631 1.953 2.445 3.377 4.604 3.417-1.68 1.319-3.809 2.105-6.102 2.105-.39 0-.779-.023-1.17-.067 2.189 1.394 4.768 2.209 7.557 2.209 9.054 0 13.999-7.496 13.999-13.986 0-.209 0-.42-.015-.63.961-.689 1.8-1.56 2.46-2.548l-.047-.02z">
                        </path>
                    </svg>
                </button>
            </div>

            <p class="mt-8 text-xs font-light text-center text-base-content"> Don't have an account? <a href="#"
                                                                                                        class="font-medium text-base-content">Create
                One</a></p>
        </div>
    </div>
{% endblock %}