{% load static i18n widget_tweaks %}
<div title="{% translate 'search' %}">
    <form method="get" action="{% url 'jobs' %}"
          class="flex flex-col lg:flex-row bg-base-100 hover:drop-shadow-xl transition duration-500 ease-in-out p-6 lg:p-3 rounded-lg">
        <div class="flex flex-row items-center justify-center w-4/5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
            </svg>
            {% render_field filters.form.title placeholder="What" class="input w-full pr-16 focus:outline-none border-none focus:ring-0" %}
        </div>
        <div class="divider lg:divider-horizontal"></div>
        <div class="flex flex-row items-center justify-center w-4/5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
            </svg>
            {% render_field filters.form.location placeholder="Where" class="input w-full pr-16 focus:outline-none border-none focus:ring-0" %}
        </div>
        <div class="divider lg:divider-horizontal"></div>
        <div class="flex flex-row items-center justify-center w-4/5">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M18 18.72a9.094 9.094 0 003.741-.479 3 3 0 00-4.682-2.72m.94 3.198l.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0112 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 016 18.719m12 0a5.971 5.971 0 00-.941-3.197m0 0A5.995 5.995 0 0012 12.75a5.995 5.995 0 00-5.058 2.772m0 0a3 3 0 00-4.681 2.72 8.986 8.986 0 003.74.477m.94-3.197a5.971 5.971 0 00-.94 3.197M15 6.75a3 3 0 11-6 0 3 3 0 016 0zm6 3a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm-13.5 0a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0z"></path>
            </svg>
            {% render_field filters.form.job_type placeholder="How" class="input w-full pr-16 focus:outline-none border-none focus:ring-0" %}
        </div>
        <div class="divider lg:divider-horizontal"></div>
        <div class="flex flex-row items-center justify-center w-4/5 mb-5 lg:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-8 h-8">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"></path>
            </svg>
            {% render_field filters.form.work_experience placeholder="With / No" class="input w-full pr-16 focus:outline-none border-none focus:ring-0" %}
        </div>
        <input class="btn btn-success capitalize" type="submit" value="{% translate 'Search Job' %}">
    </form>
</div>
